node_red_flow_with_auto_power.txt
[{"id":"7e548d8f.79a4b4","type":"exec","z":"94d35c7.cf8f4a","command":"/home/pi/develop/clib/ts/pubtots/out/pubtots ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":348,"y":63,"wires":[[],["640a77cb.bd3a18"],[]]},{"id":"640a77cb.bd3a18","type":"debug","z":"94d35c7.cf8f4a","name":"","active":true,"console":"false","complete":"false","x":549,"y":214,"wires":[]},{"id":"75c203bd.8c246c","type":"mqtt in","z":"94d35c7.cf8f4a","name":"paul rpi trigger ","topic":"paul/rpi","qos":"2","broker":"2e567578.1380ea","x":107,"y":392,"wires":[["8866ba57.111528","2145d91.6936526"]]},{"id":"adba34ca.e4e658","type":"template","z":"94d35c7.cf8f4a","name":"convert","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"test/paul \"{{payload}}\" /dev/ttyS0","output":"str","x":405,"y":378,"wires":[["640a77cb.bd3a18","7e548d8f.79a4b4"]]},{"id":"8866ba57.111528","type":"exec","z":"94d35c7.cf8f4a","command":"python /home/pi/develop/mqtt/GSM_PWRKEY.py 7","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":304,"y":510.5,"wires":[[],["640a77cb.bd3a18"],[]]},{"id":"2145d91.6936526","type":"delay","z":"94d35c7.cf8f4a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":267,"y":311,"wires":[["adba34ca.e4e658"]]},{"id":"2e567578.1380ea","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]