node_red_flow_to_TS_using_template.txt
[{"id":"7e548d8f.79a4b4","type":"exec","z":"94d35c7.cf8f4a","command":"/home/pi/develop/clib/ts/pubtots/out/pubtots ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":270,"y":140,"wires":[[],["640a77cb.bd3a18"],[]]},{"id":"640a77cb.bd3a18","type":"debug","z":"94d35c7.cf8f4a","name":"","active":true,"console":"false","complete":"false","x":490,"y":304,"wires":[]},{"id":"75c203bd.8c246c","type":"mqtt in","z":"94d35c7.cf8f4a","name":"paul rpi trigger ","topic":"paul/rpi","qos":"2","broker":"2e567578.1380ea","x":114,"y":298,"wires":[["adba34ca.e4e658"]]},{"id":"adba34ca.e4e658","type":"template","z":"94d35c7.cf8f4a","name":"convert","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"test/paul \"{{payload}}\" /dev/ttyUSB0","output":"str","x":319,"y":302,"wires":[["640a77cb.bd3a18","7e548d8f.79a4b4"]]},{"id":"2e567578.1380ea","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]